@{
  ViewData["Title"] = "Create Review";
}

@model TravelClient.Models.Review

<h4>Add a new review</h4>
<p><strong>Note: all fields are required to post a review.</strong></p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City)
  <br>
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country)
  <br>
  @Html.LabelFor(model => model.Message)
  @Html.TextBoxFor(model => model.Message)
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @type="number", @min="0", @max="10"}})
  <br>
  @Html.LabelFor(model => model.Author)
  @Html.TextBoxFor(model => model.Author)
  <br>
  <br>
  <input type="submit" value="Add new review" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all reviews", "Index")</p>